# Compound Annual Growth Rate

$$
{CAGR={Last/First}^{1/n}-1}
$$

https://en.wikipedia.org/wiki/Compound_annual_growth_rate

In [1]:
import pandas as pd
import numpy as np

## Data

In [2]:
df = pd.DataFrame(data=np.random.rand(36,4),
                  index=pd.date_range(end=pd.datetime.now(), periods=36, freq='MS'),
                  columns=['A', 'B', 'C', 'D'])

In [3]:
df.shape

(36, 4)

In [4]:
df.head()

                                   A         B         C         D
2014-11-01 18:43:54.318155  0.937386  0.938432  0.234072  0.996044
2014-12-01 18:43:54.318155  0.475899  0.763690  0.248750  0.240070
2015-01-01 18:43:54.318155  0.525714  0.359349  0.050970  0.754596
2015-02-01 18:43:54.318155  0.934056  0.799955  0.780028  0.628155
2015-03-01 18:43:54.318155  0.941093  0.261895  0.061466  0.723747

## Compute

compute over total history of our data

In [5]:
cagr = (df.iloc[-1] / df.iloc[0]) ** (1/len(df)) - 1

In [6]:
cagr = pd.DataFrame(cagr, columns=['cagr'])

In [7]:
cagr

       cagr
A -0.013782
B -0.008751
C -0.005014
D -0.002604

## Compute per Group

group by year and compute growth over months

In [8]:
gb = df.groupby(pd.TimeGrouper(freq='A'))

In [9]:
def_cagr = lambda d: (d.iloc[-1] / d.iloc[0]) ** (1/len(d)) - 1

In [10]:
cagr = gb.apply(def_cagr)

In [11]:
cagr

                   A         B         C         D
2014-12-31 -0.287478 -0.097895  0.030877 -0.509059
2015-12-31  0.009062 -0.026744  0.225305 -0.200834
2016-12-31  0.079198  0.220754  0.092319 -0.059635
2017-12-31  0.017699  0.249814 -0.015814  0.082337